*.ipynb_checkpoints
*-checkpoint.ipynb
*.md.out
*.md.error
*.pyc
*.cube
*.pp
*.dos
temp/
slurm-*
mala.pw.scf.in
fesl.pw.scf.in
tmp.pp*
*_ldos.npy
CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
OSZICAR
PCDAT
POTCAR
REPORT
WAVECAR
XDATCAR
vasprun.xml
CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
HELIPORT/*/*.png
CRASH
.~lock.*
outs/
*.pth
.idea
*.tmp
*.zip
*.json
